
@media (max-width:550px){
    main{
        text-align: center;
        background-color: #EBEDEF;
        margin: 0px;
        padding: 100px;
    }
    
    body{
        background-color: #EBEDEF;
        width: 100%;
        height: auto;
    }
    
    .lines-effect{
        display: inline-block;
        position: relative;
        top: 10px;
    }
    
    
    h3{
        position: relative;
        top: -1.9em;
    }
    
    .lines-effect::after,.lines-effect::before{
        content: '';
        position: absolute;
        width: 200px;
        height: 3px;
        background-color: black;
        top: 1em;
    }
    
    .lines-effect::before{
        left: -10px;
    }
    
    .lines-effect::after{
        right: -10px;
    }   
    
    .bar{
        text-align: right;
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        /* background-color: #D6DBDF; */
        background: linear-gradient(to right, #D6DBDF, rgb(254, 254, 254));
        overflow: hidden;
        z-index: 10;
        width: 100%;
        position: absolute;
        top: 339px;
    }

    .barliDev{
        font-size: 10px;
    }
    
    
    .two li{
        display: inline-block;
        position: relative;
        
    }
    
    li a{
        display: block;
        color: black;
        text-align: center;
        padding: 10px 10px;
        text-decoration: none;
    }
    
    li a:hover{
        background-color: #EBEDEF;
        color: black;
    }
    
    div{
        text-align: center;
    }

    .portfolio-items{
        display: inline-block;
        align-items: center;
    }

    .portfolio-img{
        min-width: 150px !important;
        max-width: 300px !important;
        border-radius: 15%;
        border: 1.5px solid black;
    }

    .portfolio-img:hover{
        min-width: 150px !important;
        max-width: 305px !important;
        border-radius: 15%;
        border: 2px solid black;
    }

    .skill-section{
        display: inline-block;
        align-items: center;
    }

    .skill-img{
        width: 50px;
        border-radius: 15%;
        border: 1px solid black;
    }

    li{
        list-style-type: none;
        text-align: center;
    }

  }
  

@media (min-width:550px){
    main{
        padding: 100px;
    }
    
    body{
        text-align: center;
        background-color: #EBEDEF;
        width: 100%;
        height: auto;
        margin: 0px;
    }
    
    .lines-effect{
        display: inline-block;
        position: relative;
        top: 10px;
    }
    
    
    h3{
        position: relative;
        top: -1.9em;
    }
    
    .lines-effect::after,.lines-effect::before{
        content: '';
        position: absolute;
        width: 200px;
        height: 3px;
        background-color: black;
        top: 1em;
    }
    
    .lines-effect::before{
        left: -10px;
    }
    
    .lines-effect::after{
        right: -10px;
    }
    
    .container{
        display: grid;
        grid-template-columns: 1fr 2fr;
        height: 40px;
    }

    .one{
        grid-column: 1;
        grid-row: 1;

        text-align: left;
        padding: 10px 10px;
    }
    .two{
        grid-column: 2;
        grid-row: 1;
    }
    
    .bar{
        text-align: right;
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        /* background-color: #D6DBDF; */
        background: linear-gradient(to right, #D6DBDF, rgb(254, 254, 254));
        overflow: hidden;
        z-index: 10;
        width: 100%;
        position: absolute;
    }

    .bar2{
        display: none;
        text-align: right;
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        background-color: #D6DBDF;
        overflow: hidden;
        z-index: 10;
    } 
    
    
    .barliDev{
        font-size: 10px;
    }
    
    
    .two li{
        display: inline-block;
        position: relative;
    }
    
    li a{
        display: block;
        color: black;
        text-align: center;
        padding: 10px 10px;
        text-decoration: none;
    }
    
    li a:hover{
        background-color: #EBEDEF;
        color: black;
    }

    .portfolio-items{
        display: inline-block;
        align-items: center;
    }

    .portfolio-img{
        min-width: 150px !important;
        max-width: 300px !important;
        border-radius: 15%;
        border: 1.5px solid black;
    }

    .portfolio-img:hover{
        min-width: 150px !important;
        max-width: 305px !important;
        border-radius: 15%;
        border: 2px solid black;
    }

    .skill-section{
        display: inline-block;
        align-items: center;
    }

    .skill-img{
        width: 50px;
        border-radius: 15%;
        border: 1px solid black;
    }

    li{
        list-style-type: none;
        text-align: center;
    }
  }